# Python
__pycache__/
*.pyc
.venv/
env/
Commande ECHO d‚sactiv‚e.
# Jupyter
.ipynb_checkpoints/
Commande ECHO d‚sactiv‚e.
# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
Commande ECHO d‚sactiv‚e.
# Outputs
outputs/*
!outputs/.gitkeep
Commande ECHO d‚sactiv‚e.
# Models / checkpoints
checkpoints/
Commande ECHO d‚sactiv‚e.
# Hugging Face / cache
.cache/
Commande ECHO d‚sactiv‚e.
# IDE
.vscode/
.idea/
Commande ECHO d‚sactiv‚e.
# OS
Thumbs.db
.DS_Store
